.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 10vh;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.cell{
  height: 100px;
  width: 100px;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.empty-cell{
  height: 100px;
  width: 100px;
  background: white;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px black;
  box-sizing: border-box;
}

#board{
  width: 400px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.row {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}