.App {
  text-align: center;
  box-sizing: border-box;
}

.App-header {
  background-color: #222;
  height: 10vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-title {
  font-size: 1.5em;
  margin: 0;
}

.cell{
  height: 100px;
  width: 100px;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shake {
  animation: shake;
  animation-duration: 2s;
}

@keyframes shake {
  50% { transform: scale(0.95,0.95);}
}
.empty-cell{
  height: 100px;
  width: 100px;
  background: white;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#board{
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
}

.row {
  display: flex;
  justify-content: center;
  background: blueviolet;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

