.App {
  box-sizing: border-box;
  color: white;
}

.App-header {
  background-color: #222;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-title {
  font-size: 1.5em;
  margin: 0;
}

.cell{
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-cell{
  background: black;
}

.shake {
  animation: shake;
  animation-duration: 2s;
}

@keyframes shake {
  50% { transform: scale(0.95,0.95);}
}

.empty-cell{
  background: white;
}

#board{
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
}

.row {
  display: flex;
  background: rgb(140, 47, 228);
  justify-content: center;
}

.row-btns {
  height: 15vh;
  align-items: center;
}

.row-board{
  height: 75vh;
}

button {
  height: 6vh;
  font-family: 'Bungee', cursive;
  border-radius: 10%;
  margin: 0% 2%;
  background: rgb(100, 77, 77);
  width: 8%;
  color:white;
}

/* Modal*/
.myModal {
  z-index: 1;
  position: fixed;
  background-color: #fefefe;
  border: 1px solid #888;
  width: 60%;
  height: auto;
  font-family: 'Bungee Shade', cursive;
  font-size: 5em;
  padding:1%;
  text-align: center;
  color: black;
}

.myModal p {
  margin:0;
}
/* The Close Button */
.close {
  color: #aaaaaa;
  display: flex;
  justify-content: flex-end;
  font-size: 0.4em;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}